<div mat-dialog-content>
  <h3>Request account</h3>
  <p>
    <mat-form-field appearance="outline" MatFormFieldControl>
      <mat-label>Name</mat-label>
      <input matInput placeholder="john">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline" MatFormFieldControl>
      <mat-label>Department</mat-label>
      <input matInput placeholder="005">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline" MatFormFieldControl>
      <mat-label>Email</mat-label>
      <input matInput placeholder="john@mail.com" type="email">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline" MatFormFieldControl>
      <mat-label>Phone</mat-label>
      <input matInput placeholder="0989464684">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline" MatFormFieldControl>
      <mat-label>Employee No.</mat-label>
      <input matInput placeholder="16849">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
  </p>
</div>
<button mat-raised-button (click)="onNoClick()">Submit</button>

