.mat-card {
  text-align: center;
  box-shadow: none;
}

.mat-card-subtitle {
  font-size: 12px;
}

.highlight {
  color: #f57c72;
}

.material-icons {
  color: #818286;
  font-size: 20px;
  margin-right: 10px;
}

.mat-expanded .mat-expansion-panel-header-title .material-icons{
  transform: rotate(90deg);
}

.mat-expansion-panel {
  box-shadow: none;
}

.mat-expansion-panel-header {
  border-bottom: 1px solid #ddddde;
  border-radius: unset;
  height: 35px;
}

.mt-3 {
  margin-top: 30px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  width: 100%;
}
